/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# GLOBAL
# HEADER
# ABOUT
# LODGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# GLOBAL
--------------------------------------------------------------*/

li
{
	list-style : none;
}

html
{
	font-size : 62.5%;
}

header
{
	overflow : hidden;
}

body
{
	font-size : 1.6rem;		/* 1rem = 16px*/

	letter-spacing : 0.1em;
}

h1
{
	font-size : 2.08vw;
	line-height : 1.3;
}

h2
{
	font-size : 2.6vw;
	font-weight : 100;

	margin : 0;

	letter-spacing : 0.26vw;
}

p
{
	font-size : 1vw;
	line-height : 1.7;
}

.container
{
	padding-right : 7vw;
	padding-left : 8.1vw;
}

.section-title
{
	text-shadow : 3px 3px 2px gray;
	text-shadow : 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.btn-lg
{
	font-size : 1vw;

	padding : 1vw 2vw;

	text-decoration : none;

	color : black;
	border : 1px #707070 solid;
}

@media screen and (max-width: 768px)		/* 768px以下*/
{
	h1
	{
		font-size : 3vw;
	}
}

@media screen and (max-width: 414px)		/* 414x以下*/
{
	.btn-lg
	{
		font-size : 2.9vw;

		padding : 2.8vw 6.4vw;
	}

	.section-title
	{
		font-size : 6vw;
	}
}
/*--------------------------------------------------------------
	# HEADER
	--------------------------------------------------------------*/
.header-wrapper
{
	position : relative;
	z-index : 999;
}

.header-wrapper::after
{
	display : block;

	margin : 0;
	padding-top : 56.25%;		/*16:9*/

	content : '';
}

.site-navigation
{
	position : absolute;
	z-index : 99;

	display : flex;
	justify-content : center;

	width : 100%;

	text-align : center;

	color : white;
	background : black;
	background : rgba(0, 0, 0, 0.7);
}

.site-logo-wrapper
{
	margin : auto auto auto 2.6%;
}

.site-logo > small
{
	font-size : 0.575em;

	margin-right : 2vw;
}	

.site-logo > p
{
	font-size : 0.375em;

	display : block;

	margin : auto;
	margin-top : 5px;
}

.nav-menu
{
	display : flex;
	align-items : center;
}

.nav-menu li
{
	padding-right : 4.3vw;
}

.nav-menu li a
{
	font-size : 1.3vw;

	text-decoration : none;

	color : white;
}

.nav-menu li p
{
	font-size : 0.5em;

	margin : 3% 0 0 0;
}

.btn-menu
{
	display : none;

	margin-top : 2vw;
	margin-bottom : 2vw;

	cursor : pointer;
}

.icon-wrapper
{
	display : none;
}

.header-wrapper > img
{
	position : absolute;
	z-index : 0;
	top : 0;
	left : 0;

	width : 100%;
	height : auto;
}

.header-wrapper .slideIn
{
	animation : slideIn 3s ease 0s 1 normal;

	backface-visibility : hidden;
}

@keyframes slideIn
{
	0%
	{
		opacity : 0.2;
	}

	100%
	{
		opacity : 1;
	}
}

@media screen and (max-width: 768px)		/* 768px以下*/
{
	.site-navigation
	{
		display : block;

		background : none;
	}

	.site-logo-wrapper
	{
		display : flex;

		width : 100%;
		margin : 0;

		background : black;
		background : rgba(0, 0, 0, 0.7);
	}

	.site-logo
	{
		display : block;

		margin : 0;
		padding-top : 2vw;
		padding-bottom : 2vw;
		padding-left : 4vw;
	}

	.site-logo > p
	{
		line-height : 1;
	}

	.btn-menu
	{
		display : flex;
		align-items : center;

		margin-right : 3vw;
		margin-left : auto;
	}

	/* ハンバーガーメニューのアイコン */
	.btn-menu span ,
	.btn-menu span::before ,
	.btn-menu span::after
	{
		display : block;

		width : 3.9vw;	/*長さ*/
		height : 2px;		/*線の太さ*/

		content : '';
		cursor : pointer;

		border-radius : 2px;
		background : white;
	}

	.nav-open span
	{
		background : none;
	}

	.btn-menu span::before
	{
		transform : translateY(1.7vw);
	}

	.nav-open span::before
	{
		transform : rotate(-45deg);
	}

	.btn-menu span::after
	{
		transform : translateY(-1.9vw);
	}

	.nav-open span::after
	{
		transform : rotate(-135deg);
	}

	.nav-wrapper
	{
		position : relative;

		display : block;

		transform : translate(100%, 0);

		background : black;
		background : rgba(0, 0, 0, 0.7);
	}

	.nav-wrapper.nav-open
	{
		transition : 0.3s transform ease-out 0s;
		transform : translate(0, 0);
	}

	.nav-wrapper.nav-close
	{
		transition : 0.3s transform ease-out 0s;
		transform : translate(100%, 0);
	}

	.nav-menu
	{
		flex-direction : column;
		justify-content : space-between	;

		height : 47vw;
		margin : 0;
		padding : 0;
	}

	.nav-menu li:last-child
	{
		padding-bottom : 4vw;
	}

	.nav-menu li a
	{
		font-size : 1.95vw;

		display : block;

		height : 100%;
	}

	.nav-menu li p
	{
		font-size : 1.69vw;

		margin : 0;
	}

	.icon-wrapper
	{
		position : absolute;
		right : 0;
		bottom : 0 ;

		display : inline-block;
	}

	.icon-wrapper > a > img
	{
		width : 3.9vw;
		margin-right : 5.9vw;
		margin-bottom : 3.9vw;
	}
}

@media screen and (max-width: 413px)		/* 413px以下*/
{
	.header-wrapper::after
	{
		padding-top : 177.77%;
	}

	.site-logo
	{
		padding-top : 3vw;
		padding-bottom : 3vw;
	}

	.nav-wrapper
	{
		padding : 11vw 0;
	}

	.nav-menu
	{
		height : auto;
	}

	.nav-menu > li
	{
		padding-top : 10vw;
	}

	.nav-menu li a
	{
		font-size : 1.5rem;
	}

	.nav-menu li p
	{
		font-size : 1.3rem;
	}

	.icon-wrapper
	{
		position : static;

		padding-top : 10vw;
	}

	.icon-wrapper > a:first-child > img
	{
		margin-right : 14.5vw;
	}

	.icon-wrapper > a > img
	{
		width : 12vw;
		margin : 0 0 3.9vw 0;
	}
}

/*--------------------------------------------------------------
	# ABOUT
	--------------------------------------------------------------*/
.about
{
	position : relative;

	padding-top : 8vw;
}

.about::before
{
	position : absolute;
	z-index : -1;
	top : 18vw;
	left : 23.1vw;

	width : 59.8vw;
	height : 36.4vw;

	content : '';

	background : #f8f8f8;
}	

.about .container
{
	display : flex;

	margin-bottom : 7vw;
}

.about-content > h2
{
	padding-bottom : 3.1vw;
}

.about-content > p
{
	font-size : 1.5vw;
	font-weight : 400;
	line-height : 1.4;

	padding-bottom : 2.86vw;

	letter-spacing : 0.15vw;
}

.btn-lg-wrapper > .btn-lg
{
	margin-left : 8.1vw;
}

.about-images
{
	margin-left : auto;
}

.about-images img
{
	display : block;

	width : 36.35vw;
	padding-bottom : 4.1vw;
}

@media screen and (max-width: 768px)		/* 768px以下*/
{
	.about-content
	{
		height : 52vw;
	}

	.about-images img
	{
		position : absolute;

		padding : 0;
	}
	.about-images img:first-child
	{
		right : 4vw;
		bottom : 3vw;

		width : 43vw;
	}

	.about-images img:last-child
	{
		right : 39vw;
		bottom : 0;

		width : 21.5vw;
	}
}

@media screen and (max-width: 413px)		/* 413px以下*/
{
	.about
	{
		padding : 0;
	}

	.about::before
	{
		top : 18vw;
		left : 40%;

		width : 59.8vw;
		height : 170vw;

		content : '';

		background : #f8f8f8;
	}

	.about .container
	{
		display : block;

		padding : 0;
	}

	.about-content
	{
		height : auto;
	}

	.about-content h2
	{
		font-size : 5.3vw;

		margin : 0;
		padding : 22vw 0;

		text-align : center;
	}

	.about-content p
	{
		font-size : 3.6vw;

		padding-bottom : 6.4vw;
		padding-left : 11.3vw;
	}

	.about-content .btn-lg-wrapper
	{
		margin-right : 3vw;

		text-align : right;
	}

	.about-images
	{
		display : block;
		display : flex;
		flex-direction : column-reverse;
	}

	.about-images img
	{
		position : static;
	}

	.about-images img:first-child
	{
		width : 65.4vw;
		margin-left : auto;
	}

	.about-images img:last-child
	{
		width : 51.7vw;
		padding-top : 6.5vw;
	}
}

/*--------------------------------------------------------------
	# LODGE
	--------------------------------------------------------------*/
.lodge
{
	padding-top : 6.5vw;

	background-color : #f2f2f2;
}

.lodge .container
{
	position : relative;
}

.lodge .container::after
{
	display : block;

	padding-bottom : 40vw;

	content : '';
}

.lodge .section-title::after
{
	font-size : 5.5vw;

	position : absolute;
	top : 0;
	left : 0;

	content : 'Lodge';
	transform : translate(0 , 50%) rotate(270deg);

	opacity : 0.1;
	color : gray;
	color : rgba(0, 0, 0, 0.8);
}

.lodge-content-wrapper
{
	position : absolute;
	z-index : 2;
	top : 11vw;
	left : 13vw;

	padding-bottom : 2.6vw;

	background-color : gray;
	background-color : rgba(255, 255, 255, 0.9);
}

.lodge-content-wrapper p
{
	display : block;

	margin : 0;
	padding : 4vw 8vw 4vw 4vw;
}

.lodge-content-wrapper .btn-lg-wrapper
{
	margin : 0;

	text-align : right;
}

.lodge-content-wrapper .btn-lg-wrapper .btn-lg
{
	margin : 0 4vw 0 0 ;
}

.lodge-image
{
	position : absolute;
	z-index : 1;
	top : 3.8vw;
	right : 3.8vw;

	width : 46vw;
	height : auto;
}

.lodge-repeat-image
{
	width : 80vw;
	margin-left : 13vw;
}

@media screen and (max-width: 768px)		/* 768px以下*/
{
	.lodge-content-wrapper
	{
		top : 6vw;
	}
}

@media screen and (max-width: 413px)		/* 413px以下*/
{
	.lodge .container
	{
		padding-right : 0;
		padding-left : 0;
	}

	.lodge .container::after
	{
		display : none;
	}

	.lodge .section-title
	{
		text-align : center;
	}

	.lodge .section-title::after
	{
		font-size : 19vw;

		top : 0;
		left : 0;

		transform : translate(-15% , 140%) rotate(270deg);
	}


	.lodge-content-wrapper
	{
		position : static;

		margin : 16vw 0 6vw 25vw;
		padding-top : 4vw;
		padding-bottom : 8vw;
	}

	.lodge-content-wrapper p
	{
		font-size : 3.6vw;

		padding-bottom : 9vw;
		padding-left : 8vw;
	}

	.lodge-content-wrapper .btn-lg-wrapper
	{
		font-size : 2.8vw;
	}

	.lodge-image
	{
		position : static;

		width : 100%;
	}

	.lodge-repeat-image
	{
		width : 100%;
		padding : 6vw 0;
	}
}
